<!-- A first map -->
<app-map  id="map1"
  lon=2.4246 
  lat=48.845 
  zoom=13
>
  <!-- Add a layer watercolor -->
  <app-layer layer="watercolor"></app-layer>
  <!-- Add a layer labels -->
  <app-layer layer="labels"></app-layer>
  <!-- Add interaction -->
  <!-- <app-interaction></app-interaction> -->
  <!-- Add a control insde the map (boolmark) -->
  <app-control></app-control>
</app-map>




<!-- Define control outside the map -->
<app-mouse-position></app-mouse-position>

<app-display-geo 
    id="display1"
    [geoObj]="geoObj"
    ></app-display-geo>

